canvas {
  position: fixed;
  top : 0;
  left : 0;
  /* make the canvas the background */
  z-index : -1;
}

/* TRAVEL CSS */
#contact {
  height: 100vh;
  width: 100vw;
  background-color: black;
  margin: 0rem;
  overflow: hidden;
  user-select: none;
}

#image-container > .travelImage {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

#image-container {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(0%, -50%);
}

#contactHeader {
  user-select: none;
  color: blue;
  text-align: center;
}

